@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border;
  }

  html,
  body {
    @apply max-w-full overflow-x-hidden font-sans antialiased;
  }

  body {
    @apply bg-background text-text;
  }

  a {
    @apply text-inherit no-underline;
  }

  button {
    font-family: inherit;
  }

  input, textarea {
    font-family: inherit;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #F1F5F9;
}

::-webkit-scrollbar-thumb {
  background: #CBD5E1;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94A3B8;
}
